<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489303829565-ck03oshp7piqcmth3397ek76fh7v7gfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489303829565-ck03oshp7piqcmth3397ek76fh7v7gfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>489303829565-4qbo6e3f1la85b1u02kjhd4fan5hp4s6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuw-ZyNKTxJzquw5vvfV3Hi-r7O04aSW0</string>
	<key>GCM_SENDER_ID</key>
	<string>489303829565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.click.clickaclean</string>
	<key>PROJECT_ID</key>
	<string>clickaclean-aa963</string>
	<key>STORAGE_BUCKET</key>
	<string>clickaclean-aa963.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489303829565:ios:3f67f9c4b0b6e90c410e54</string>
	<key>DATABASE_URL</key>
	<string>https://clickaclean-aa963.firebaseio.com</string>
</dict>
</plist>